# dependencies
node_modules/

# next
.next/
out/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# expo leftovers
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android
